<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户管理</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/element-ui/1.1.2/theme-default/index.css">
    <script src="//cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
    <script src="//cdn.bootcss.com/element-ui/1.1.2/index.js"></script>
    <script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>

</head>
<body>
<div id="vm">

    <el-form :inline="true" :model="formInline"  label-width="120px" class="demo-dynamic">
        <el-form-item label="文件名">
            <el-input v-model="formInline.fileName" placeholder="文件名"></el-input>
        </el-form-item>
        <el-form-item label="文件类型">
            <el-select v-model="formInline.fileType" clearable placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="上传时间">
            <el-date-picker
                    v-model="formInline.uploadDate"
                    type="daterange"
                    value-format=“yyyy-MM-dd”
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
    <el-table
            :data="tableData"
            stripe
            style="width: 100%"
            height="600">
        <el-table-column
                prop="userName"
                label="用户名"
                width="180">
        </el-table-column>
        <el-table-column
                prop="fileName"
                label="文件名"
                width="300">
        </el-table-column>
        <el-table-column
                prop="fileType"
                label="文件类型"
                width="180">
        </el-table-column>
        <el-table-column
                prop="fileSize"
                label="文件大小"
                width="180">
        </el-table-column>
        <el-table-column
                prop="fileUrl"
                label="url">
        </el-table-column>
        <el-table-column
                prop="uploadDate"
                label="上传时间"
                width="180">
        </el-table-column>
    </el-table>
    <div class="block">
        <el-pagination
                name="fenye"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage"
                :page-sizes="[15, 20, 50, 100]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total=total>
        </el-pagination>
    </div>

</div>

<script>
    Vue.http.options.emulateHTTP = true;
    var vm = new Vue({
        el: '#vm',
        data: {
            tableData: [],
            currentPage: 1,
            pageSize: 15,
            total: 0,
            dialogFormVisible: false,
            user:{id:"",name:'',age:''},
            formLabelWidth: '120px',
            options: [{
                value: 'war',
                label: 'war'
            }, {
                value: 'zip',
                label: 'zip'
            }, {
                value: 'doc',
                label: 'doc'
            },{
                value: 'ppt',
                label: 'ppt'
            },{
                value: 'pptx',
                label: 'pptx'
            }, {
                value: '7z',
                label: '7z'
            }, {
                value: 'rar',
                label: 'rar'
            }, {
                value: 'jpg',
                label: 'jpg'
            },{
                value: 'jpn',
                label: 'jpn'
            }, {
                value: 'jpeg',
                label: 'jpeg'
            }, {
                value: 'mp3',
                label: 'mp3'
            }, {
                value: 'mp4',
                label: 'mp4'
            }],
            formInline: {
                fileName: '',
                fileType: '',
                uploadDate: ''
            },
        },
        methods:{
            getData:function(){
                this.$http.post("/userFileInfo/find",{params: {}})
                    .then(function (response) {
                        if (response.body.code == 200){
                            this.tableData = response.body.data.list;
                            this.total = response.body.data.total;
                        }
                    })
                    .catch(function (response) { console.error(response); });
            },
            search:function(){
                this.$http.post("/userFileInfo/find",{pageSize: this.pageSize,pageNum: this.currentPage,
                    fileName:this.formInline.fileName,fileType:this.formInline.fileType,
                    startDate:this.formInline.uploadDate[0], endDate:this.formInline.uploadDate[1]})
                    .then(function (response) {
                        if (response.body.code == 200){
                            this.tableData = [];
                            this.tableData = response.body.data.list;
                            this.total = response.body.data.total;
                        }
                    })
                    .catch(function (response) { console.error(response); });
            },
            //修改每页条数触发
            handleSizeChange: function(val) {
                this.currentPage = 1;
                this.pageSize = val;
                this.search();
            },
            //翻页触发
            handleCurrentChange:function(val) {
                this.currentPage = val;
                this.search();
            },
        },
        mounted: function () {
            this.getData();
        },
        watch:{

        }

    })
</script>
</body>
</html>